*.o
*.a
build-*-*/
*.pro.user
CMakeLists.txt.user
build/*
build-*-*-Debug/*
build-*-*-Release/
output/*    
build-qt6/*
build-qt5/*
*/build/*
*.pro.user
*.pro.user*
.qmake.stash
*.so
*.so.*
*.o
Makefile
*/output
*/build-qt*
*.a
