*.o
*.a
build-*-*/
*.pro.user
CMakeLists.txt.user
build/*
build-*-*-Debug/*
build-*-*-Release/
output/*    
build-qt6/*
build-qt5/*
*/build/*
*.pro.user
*.pro.user*
.qmake.stash
*.so
*.so.*
*.o
desktop/*Makefile
hwbootstrap/*Makefile
installer/*Makefile
iso/*Makefile
packages/*Makefile

*/output
*/build-qt*
*.a
help/build/*
help/.venv/*
