<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
<dict>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
        <key>CFBundleIconFile</key>
        <string>@ICON@</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleGetInfoString</key>
        <string>An editor made for You!</string>
        <key>CFBundleIdentifier</key>
        <string>com.arionos.editor</string>
        <key>NSHighResolutionCapable</key>
        <true/>
        <key>LSMinimumSystemVersion</key>
        <string>10.10</string>
        <key>NSHumanReadableCopyright</key>
        <string>Copyright 2018-2022 The Cat.</string>
        <key>CFBundleExecutable</key>
        <string>@EXECUTABLE@</string>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                    <key>CFBundleTypeExtensions</key>
                    <array>
                            <string>cpp</string>
                            <string>cc</string>
                            <string>cxx</string>
                            <string>c++</string>
                            <string>h</string>
                            <string>hpp</string>
                            <string>hxx</string>
                            <string>h++</string>
                            <string>hh</string>
                            <string>cp</string>
                            <string>inl</string>
                            <string>C</string>
                    </array>
                    <key>CFBundleTypeName</key>
                    <string>C++</string>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>LSHandlerRank</key>
                    <string>Alternate</string>
                    <key>LSItemContentTypes</key>
                    <array>
                            <string>public.c-plus-plus-source</string>
                            <string>public.c-plus-plus-header</string>
                    </array>
            </dict>
            <dict>
                    <key>CFBundleTypeExtensions</key>
                    <array>
                            <string>c</string>
                            <string>h</string>
                    </array>
                    <key>CFBundleTypeName</key>
                    <string>C</string>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>LSHandlerRank</key>
                    <string>Alternate</string>
                    <key>LSItemContentTypes</key>
                    <array>
                            <string>public.c-source</string>
                            <string>public.c-header</string>
                    </array>
            </dict>
            <dict>
                    <key>CFBundleTypeExtensions</key>
                    <array>
                            <string>html</string>
                            <string>htm</string>
                            <string>shtml</string>
                            <string>xhtml</string>
                            <string>phtml</string>
                            <string>inc</string>
                            <string>tmpl</string>
                            <string>tpl</string>
                    </array>
                    <key>CFBundleTypeName</key>
                    <string>HTML</string>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>LSHandlerRank</key>
                    <string>Alternate</string>
                    <key>LSItemContentTypes</key>
                    <array>
                            <string>public.html</string>
                    </array>
            </dict>
            <dict>
                    <key>CFBundleTypeExtensions</key>
                    <array>
                            <string>txt</string>
                    </array>
                    <key>CFBundleTypeName</key>
                    <string>Plain Text</string>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>LSHandlerRank</key>
                    <string>Alternate</string>
                    <key>LSItemContentTypes</key>
                    <array>
                            <string>public.plain-text</string>
                            <string>public.text</string>
                            <string>public.utf16-external-plain-text</string>
                            <string>public.utf16-plain-text</string>
                            <string>public.utf8-plain-text</string>
                            <string>com.apple.traditional-mac-plain-text</string>
                    </array>
            </dict>
            <dict>
                    <key>CFBundleTypeName</key>
                    <string>Unknown document</string>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>LSHandlerRank</key>
                    <string>Alternate</string>
                    <key>LSItemContentTypes</key>
                    <array>
                            <string>public.data</string>
                    </array>
            </dict>
        </array>
</dict>
</plist>
